<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- 引入样式 -->
  <!-- https://element.eleme.cn/#/zh-CN/component/layout 2.13.1-->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <title>py-zkui</title>
  <style>
  </style>
  <script src="/static/vue.min.js"></script>
  <script src="/static/axios.min.js"></script>
  <!-- import JavaScript -->
  <script src="/static/index.js"></script>
  <style>
    body {
      margin: 0;
    }
  </style>
</head>

<body>
  <div id="app">
    <el-row :gutter="24">
      <el-col :span="8" :offset="8">
        <div style="padding-top: 200px;">
          <el-card class="box-card">
            <div slot="header" class="clearfix">
              <span>Zookeeper UI</span>
            </div>
            <el-form :model="login" class="" status-icon :rules="rules" ref="login" label-width="100px">
              <el-form-item label="账号" prop="user">
                <el-input v-model="login.user"></el-input>
              </el-form-item>
              <el-form-item label="密码" prop="pass">
                <el-input type="password" v-model="login.pass" autocomplete="on"></el-input>
              </el-form-item>
              <el-form-item>
                <el-button type="primary" @click="submit()">提交</el-button>
                <el-button @click="reset()">重置</el-button>
              </el-form-item>
            </el-form>
          </el-card>
        </div>
      </el-col>
    </el-row>
  </div>
  <script>
    main = new Vue({
      el: "#app",
      data() {
        return {
          login: {
            user: '',
            pass: '',
          },
          rules: {
          }
        };
      },
      methods: {
        submit() {
          this.$refs['login'].validate((valid) => {
            if (valid) {
              axios.post("", {
                'username': main.login.user,
                'password': main.login.pass
              }).then(s => {
                history.go(0);
              }).catch(e => {
                main.$message.error('登录失败 ' + e.response.data);
              })
            } else {
              return false;
            }
          });
        },
        reset() {
          this.$refs['login'].resetFields();
        }
      }
    });
  </script>
</body>

</html>