<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入样式 -->
    <!-- https://element.eleme.cn/#/zh-CN/component/layout 2.13.1-->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <title>py-zkui</title>
    <style>
        body {
            margin: 0;
        }

        .el-header {
            background-color: #409EFF;
            line-height: 60px;
            font-size: 20px;
            color: #fff;
        }

        .el-breadcrumb {
            line-height: 30px;
        }

        .el-tree {
            width: 200px;
            background-color: rgb(233, 233, 235);
            border-radius: 4px;
            border: solid 1px;
        }

        .el-input {
            width: 200px;
        }
    </style>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>

<body>
    <div id="app">
        <el-container>
            <el-header>
                Zookeeper UI
                <el-dropdown style="float: right;">
                    <el-button type="primary">
                        <span>jieshao</span><i class="el-icon-arrow-down el-icon--right"></i>
                    </el-button>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item>
                            <el-button type="text" @click="changepassword">修改密码</el-button>
                        </el-dropdown-item>
                        <el-dropdown-item>
                            <el-button type="text" @click="settingDialogVisible = true">设置</el-button>
                        </el-dropdown-item>
                        <el-dropdown-item>退出</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </el-header>
            <el-container>
                <el-row :gutter="24" style="width: 100%;">
                    <el-col :span="22" :offset="1" style="background-color: rgb(233, 233, 235); border-radius: 50px;">
                        <el-breadcrumb separator="/">
                            <el-breadcrumb-item :to="{ path: '/' }"><a href="/">/</a></el-breadcrumb-item>
                        </el-breadcrumb>
                    </el-col>
                </el-row>
            </el-container>

            <el-container>
                </el-breadcrumb>
                <el-tree :props="props" :load="loadNode" lazy show-checkbox id="tree">
                </el-tree>
                <el-main>
                    <el-table :data="tableData">
                        <el-table-column prop="name" label="name">
                        </el-table-column>
                        <el-table-column prop="value" label="value">
                        </el-table-column>
                        </el-table-column>
                        <el-table-column prop="operate" label="operate">
                            <template slot-scope="scope">
                                <el-button size="mini" type="danger" @click="handleDelete(scope.$index, scope.row)">删除
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-main>
            </el-container>
            <el-dialog title="设置" :visible.sync="settingDialogVisible" :close-on-click-modal="false">
                <el-tabs type="border-card" v-model="settingTabs">
                    <el-tab-pane label="Zookeep配置" name="nodeForm">
                        <el-form :model="nodeForm" label-width="80px" ref="nodeForm">
                            <el-form-item v-for="(node, index) in nodeForm.nodes" :label="'节点' + (index+1)" :key="node.key"
                                :prop="'nodes.' + index + '.value'"
                                :rules="{ validator: validateIpPort, trigger: 'blur' }">
                                <el-input v-model="node.value"></el-input>
                                <el-button @click.prevent="removeNode(node)">删除</el-button>
                                <el-button @click="addNode" v-if="(index+1) == nodeForm.nodes.length">新增节点</el-button>
                            </el-form-item>
                        </el-form>
                    </el-tab-pane>
                    <el-tab-pane label="其他"></el-tab-pane>
                </el-tabs>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="settingDialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="submitForm(settingTabs)">确 定</el-button>
                </div>
            </el-dialog>
        </el-container>
    </div>


    <script>

        var app = new Vue({
            el: '#app',
            data: {
                tableData: Array(10).fill({
                    name: 'key',
                    value: 'value'
                }),
                props: {
                    label: 'name',
                    children: 'zones',
                    isLeaf: 'leaf'
                },
                settingDialogVisible: false,
                nodeForm: {
                    nodes: [{
                        value: ''
                    }],
                    formLabelWidth: '10px'
                },
                labelPosition: 'right',
                validateIpPort: (rule, value, callback) => {
                    if (value === '') {
                        callback(new Error('不能为空'));
                    } else if (value.search(/(2(5[0-5]|[0-4]\d))|[0-1]?\d{1,2}:\d+/) < 0) {
                        callback(new Error('格式不正确,应为ip:port'));
                    }
                },
                settingTabs: 'nodeForm'
            },
            methods: {
                loadNode(node, resolve) {
                    if (node.level === 0) {
                        return resolve([{ name: '/' }]);
                    }
                    if (node.level > 1) return resolve([]);

                    setTimeout(() => {
                        const data = [{
                            name: 'leaf',
                            leaf: true
                        }, {
                            name: 'zone'
                        }];

                        resolve(data);
                    }, 500);
                },
                changepassword() {
                    this.$prompt('输入旧密码', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消'
                    }).then(({ value }) => {
                        this.$message({
                            type: 'success',
                            message: '你的密码是: ' + value
                        });
                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '取消输入'
                        });
                    });
                },
                handleDelete(index, row) {
                    console.log(index, row);
                },
                removeNode(item) {
                    var index = this.form.nodes.indexOf(item)
                    if (index !== -1) {
                        this.form.nodes.splice(index, 1)
                    }
                },
                addNode() {
                    this.form.nodes.push({
                        value: '',
                        key: Date.now()
                    });
                },
                submitForm(formName) {
                    console.log(formName);
                    this.$refs[formName].validate((valid) => {
                        console.log(valid);
                        if (valid) {
                            alert('submit!');
                        } else {
                            console.log('error submit!!');
                            return false;
                        }
                    });
                }
            }
        })
    </script>
</body>

</html>